{
  "swagger": "2.0",
  "info": {
    "description": "",
    "version": "1.0.0",
    "title": "Interns portal API"
  },
  "host": "api.learn.2-up.ru",
  "basePath": "/api/v1",
  "tags": [
    {
      "name": "auth",
      "description": "Operations about authorize"
    },
    {
      "name": "user",
      "description": "Operations about user"
    },
    {
      "name": "homework",
      "description": "Operations about homeworks"
    },
    {
      "name": "internHomework",
      "description": "Operations about intern homeworks"
    },
    {
      "name": "courses",
      "description": "Operations about user courses"
    },
    {
      "name": "permissions",
      "description": "Operations about user permissions [Admin only]"
    },
    {
      "name": "me",
      "description": "Operations about user profile"
    },
    {
      "name": "interns",
      "description": "Operations with interns"
    },
    {
      "name": "notifications",
      "description": "Operations with notifications"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {

    "/login": {
    "post": {
      "tags": [
        "auth"
      ],
      "summary": "Login user",
      "description": "description here.",
      "operationId": "login",
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "name": "login",
          "in": "body",
          "description": "User login",
          "required": true,
          "minimum": 3,
          "maximum": 255,
          "type": "string"
        },
        {
          "name": "password",
          "in": "body",
          "description": "User password",
          "required": true,
          "minimum": 4,
          "maximum": 50,
          "type": "string"
        }
      ],
      "responses": {
        "200": {
          "description": "success",
          "examples": {
            "": {
              "success": true,
              "data": {
                "api_token": "123"
              }
            }
          }
        },
        "404": {
          "description": "wrong",
          "examples": {
            "": {
              "message": "Пользователь не существует"
            }
          }
        },
        "401": {
          "description": "wrong",
          "examples": {
            "": {
              "message": "Неверный логин / пароль"
            }
          }
        }
      }
    }
  },
    "/regiser": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Register user",
        "description": "description here.",
        "operationId": "register",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "login",
            "in": "body",
            "description": "User login",
            "required": true,
            "unique": true,
            "minimum": 3,
            "maximum": 255,
            "type": "string"
          },
          {
            "name": "email",
            "in": "body",
            "description": "User email",
            "unique": true,
            "required": true,
            "maximum": 255,
            "format": "email",
            "type": "string"
          },
          {
            "name": "first_name",
            "in": "body",
            "description": "User first_name",
            "required": true,
            "minimum": 3,
            "maximum": 100,
            "type": "string"
          },{
            "name": "last_name",
            "in": "body",
            "description": "User last_name",
            "required": true,
            "minimum": 3,
            "maximum": 100,
            "type": "string"
          },
          {
            "name": "password",
            "in": "body",
            "description": "User password",
            "required": true,
            "minimum": 4,
            "maximum": 50,
            "type": "string"
          },
          {
            "name": "register_key",
            "in": "body",
            "description": "User register key",
            "required": true,
            "minimum": 4,
            "maximum": 50,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "examples": {
              "": {
                "success": true,
                "data": {
                  "api_token": "123"
                }
              }
            }
          },
          "403": {
            "description": "wrong",
            "examples": {
              "": {
                "message": "Неверный ключ регистрации"
              },
              " ": {
                "message": "Ключ уже использован"
              }

            }
          }
        }
      }
    },
    "/check_api_token": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "Check token of user",
        "description": "description here.",
        "operationId": "checkApiToken",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "api_token",
            "in": "body",
            "description": "User api token",
            "required": true,
            "minimum": 4,
            "maximum": 50,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "examples": {
              "": {
                "success": true
              }
            }
          },
          "401": {
            "description": "wrong",
            "examples": {
              "": {
                "success": false
              }
            }
          }
        }
      }
    },

    "/user/{id}": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Get user by ID",
        "description": "description here.",
        "operationId": "getUserById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/definitions/User"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/interns": {
      "get": {
        "tags": [
          "interns"
        ],
        "summary": "Get interns",
        "description": "description here.",
        "operationId": "getInterns",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "api_token",
            "in": "path",
            "description": "Api token of user",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "course",
            "in": "body",
            "description": "Name of course",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "type": "array",
                    "users": {
                      "$ref": "#/definitions/User"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "Курс 123 не найден"
              }
            }
          }
        }
      }
    },

    "/me/profile_info": {
      "get": {
        "tags": [
          "me"
        ],
        "summary": "Get profile info",
        "description": "description here.",
        "operationId": "getMyProfileInfo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "api_token",
            "in": "path",
            "description": "Api token of user",
            "required": true,
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/definitions/User"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "me"
        ],
        "summary": "Set profile info",
        "description": "description here.",
        "operationId": "editMyProfileInfo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "api_token",
            "in": "path",
            "description": "Api token of user",
            "required": true,
            "type": "string",
            "format": "string"
          },
          {
            "name": "login",
            "in": "body",
            "description": "User login",
            "unique": true,
            "minimum": 3,
            "maximum": 255,
            "type": "string"
          },
          {
            "name": "email",
            "in": "body",
            "description": "User email",
            "unique": true,
            "maximum": 255,
            "format": "email",
            "type": "string"
          },
          {
            "name": "first_name",
            "in": "body",
            "description": "User first_name",
            "minimum": 3,
            "maximum": 100,
            "type": "string"
          },{
            "name": "last_name",
            "in": "body",
            "description": "User last_name",
            "minimum": 3,
            "maximum": 100,
            "type": "string"
          },
          {
            "name": "password",
            "in": "body",
            "description": "User password",
            "minimum": 4,
            "maximum": 50,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/definitions/User"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/me/homeworks": {
      "get": {
        "tags": [
          "me"
        ],
        "summary": "Get my homeworks",
        "description": "description here.",
        "operationId": "getMyHomeworks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "active",
            "in": "path",
            "description": "Status of the homework",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "type": "array",
                    "homeworks": {
                      "$ref": "#/definitions/Homework"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/me/homework/{intern_homework}": {
      "get": {
        "tags": [
          "me"
        ],
        "summary": "Get my homework",
        "description": "description here.",
        "operationId": "get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "intern_homework",
            "in": "path",
            "description": "My homework id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "type": "array",
                    "homework": {
                      "$ref": "#/definitions/Homework"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "Домашняя работа не найдена"
              }
            }
          },
          "403": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "Нет доступа"
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "me"
        ],
        "summary": "Set my homework",
        "description": "description here.",
        "operationId": "set",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "intern_homework",
            "in": "path",
            "description": "My homework id",
            "required": true,
            "type": "integer"
          },
          {
            "name": "github_uri",
            "in": "path",
            "description": "My rep uri",
            "required": true,
            "type": "string",
            "minimum": 4,
            "maximum": 255
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "type": "array",
                    "homework": {
                      "$ref": "#/definitions/Homework"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "Нет доступа"
              },
              " ":{
                "message": "Вы не можете редактировать домашнюю работу с текущим статусом: Статус"
              }
            }
          }
        }
      }
    },

    "/user/{id}/homeworks/avg_score": {
      "get": {
        "tags": [
          "homework"
        ],
        "summary": "Get user average homework score",
        "operationId": "getUserHomeworkAvgScore",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "average_score": {
                      "type": "number",
                      "format": "float",
                      "example": 2.5
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/{user}/homeworks": {
      "get": {
        "tags": [
          "homework"
        ],
        "summary": "Get user homeworks",
        "operationId": "getUserHomeworks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "type": "array",
                    "homeworks": {
                      "$ref": "#/definitions/InternHomework"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "Пользователь не найден"
              }
            }
          },
          "403": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "homeworks.homework.no_view_access"
              }
            }
          }
        }
      }
    },
    "/user/{user}/homework/{intern_homework}": {
      "get": {
        "tags": [
          "internHomework"
        ],
        "summary": "Get user homework",
        "operationId": "getUserHomework",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "intern_homework",
            "in": "path",
            "description": "User homework id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "homework": {
                      "$ref": "#/definitions/InternHomework"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "Пользователь не найден"
              }
            }
          },
          "400": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "Домашняя работа не принадлежит пользователю"
              }
            }
          },
          "403": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "Нет доступа"
              },
              " ":{
                "message": "homeworks.homework.no_view_access"
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "internHomework"
        ],
        "summary": "Edit user homework",
        "operationId": "editUserHomework",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "intern_homework",
            "in": "path",
            "description": "User homework id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "status",
            "in": "path",
            "description": "Status of the homework",
            "type": "string",
            "minimum": 4,
            "maximum": 255
          },
          {
            "name": "github_uri",
            "in": "path",
            "description": "Github uri of the homework",
            "type": "string",
            "minimum": 4,
            "maximum": 255
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "homework": {
                      "$ref": "#/definitions/InternHomework"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "Домашняя работа не принадлежит пользователю"
              },
              " ":{
                "message": "Неверный статус"
              }
            }
          }
        }
      }
    },
    "/user/{user}/homework/{intern_homework}/score": {
      "patch": {
        "tags": [
          "internHomework"
        ],
        "summary": "Edit user homework",
        "operationId": "editUserHomework",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "intern_homework",
            "in": "path",
            "description": "User homework id",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "score",
            "in": "path",
            "description": "Score for the homework",
            "type": "int"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "homework": {
                      "$ref": "#/definitions/InternHomework"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "homeworks.homework.invalid_status"
              },
              " ":{
                "message": "homeworks.homework.no_change_status_access"
              }
            }
          }
        }
      }
    },

    "/notifications/": {
      "get": {
        "tags": [
          "notifications"
        ],
        "summary": "Get Latest",
        "operationId": "getLatest",
        "produces": [
          "application/json"
        ],
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "notifications": {
                      "$ref": "#/definitions/Notification"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/notifications/seen_all": {
      "patch": {
        "tags": [
          "notifications"
        ],
        "summary": "Set all ToSeen",
        "operationId": "setAllToSeen",
        "produces": [
          "application/json"
        ],
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "success",
            "examples": {
              "":{
                "success": true
              }
            }
          }
        }
      }
    },

    "/courses/all_permissions": {
      "get": {
        "tags": [
          "courses"
        ],
        "summary": "Get all ermissions",
        "operationId": "allPermissionsList",
        "produces": [
          "application/json"
        ],
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "average_score": {
                      "$ref": "#/definitions/permissions"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },

    "/homeworks": {
      "get": {
        "tags": [
          "homework"
        ],
        "operationId": "getAll",
        "summary": "Get all homeworks",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "course",
            "in": "path",
            "description": "Name of the course",
            "type": "string",
            "minimum": 1,
            "maximum": 200
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "type": "array",
                    "homeworks": {
                      "$ref": "#/definitions/InternHomework"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/homework/": {
      "post": {
        "tags": [
          "homework"
        ],
        "operationId": "new",
        "summary": "Create new homework",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of homework",
            "required": true,
            "type": "string",
            "format": "string",
            "minimum": 4,
            "maximum": 255
          },
          {
            "name": "number",
            "in": "path",
            "description": "Number of the homework",
            "required": true,
            "type": "integer",
            "minimum": 1,
            "maximum": 32000
          },
          {
            "name": "course",
            "in": "path",
            "description": "Name of the course",
            "required": true,
            "type": "string",
            "minimum": 4,
            "maximum": 255
          },
          {
            "name": "url",
            "in": "path",
            "description": "Url of the homework",
            "required": true,
            "type": "string",
            "minimum": 4,
            "maximum": 255
          },
          {
            "name": "deadline",
            "in": "path",
            "description": "Date of deadline",
            "required": true,
            "type": "string"
          },
          {
            "name": "start_date",
            "in": "path",
            "description": "Date of start",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "homework": {
                      "$ref": "#/definitions/Homework"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "Неверный формат дедлайна (datetime)"
              }
            }
          },
          "404": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "Поток не найден"
              },
              " ":{
                "message": "Пользователь не найден"
              }
            }
          },
          "403": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "Пользователь не найден"
              }
            }
          }
        }
      }
    },
    "/homework/{homework}": {
      "get": {
        "tags": [
          "homework"
        ],
        "operationId": "get",
        "summary": "Get homework ...",
        "produces": [
          "application/json"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "homework": {
                      "$ref": "#/definitions/Homework"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "homeworks.homework.no_view_access"
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "homework"
        ],
        "summary": "Set homework ...",
        "operationId": "edit",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Name of homework",
            "required": true,
            "type": "string",
            "format": "string",
            "minimum": 4,
            "maximum": 255
          },
          {
            "name": "number",
            "in": "path",
            "description": "Number of the homework",
            "type": "integer",
            "minimum": 1,
            "maximum": 32000
          },
          {
            "name": "course",
            "in": "path",
            "description": "Name of the course",
            "type": "string",
            "minimum": 4,
            "maximum": 255
          },
          {
            "name": "url",
            "in": "path",
            "description": "Url of the homework",
            "type": "string",
            "minimum": 4,
            "maximum": 255
          },
          {
            "name": "deadline",
            "in": "path",
            "description": "Date of deadline",
            "type": "string"
          },
          {
            "name": "start_date",
            "in": "path",
            "description": "Date of start",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "homework": {
                      "$ref": "#/definitions/Homework"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "Неверный формат дедлайна (datetime)"
              },
              " ":{
                "message": "Неверный формат даты старта (start_date)"
              }
            }
          },
          "403": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "homeworks.homework.no_edit_access"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "homework"
        ],
        "operationId": "delete",
        "summary": "Delete homework ...",
        "produces": [
          "application/json"
        ],
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                }
              }
            }
          },
          "403": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "homeworks.homework.no_edit_access"
              }
            }
          }
        }
      }
    },
    "/homework/{homework}/course": {
      "post": {
        "tags": [
          "homework"
        ],
        "operationId": "addCourse",
        "summary": "Add new course for homework",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "description": "Id of course",
            "required": true,
            "type": "integer",
            "minimum": 1
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "homework": {
                      "$ref": "#/definitions/Homework"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "Домашняя работа не найдена"
              },
              " ":{
                "message": "Поток не найден"
              }
            }
          },
          "403": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "homeworks.homework.no_edit_access"
              }
            }
          }
        }
      }
    },

    "/course/{internship_course}": {
      "get": {
        "tags": [
          "courses"
        ],
        "operationId": "get",
        "summary": "Get course from intern",
        "produces": [
          "application/json"
        ],
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "homework": {
                      "$ref": "#/definitions/Homework"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "Домашняя работа не найдена"
              }
            }
          },
          "403": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "Нет доступа"
              }
            }
          }
        }
      }
    },
    "/course/{internship_course}/user/{user}/permissions": {
      "get": {
        "tags": [
          "permissions"
        ],
        "operationId": "getUserCoursePermissions",
        "summary": "Get permissions by User and Intern",
        "produces": [
          "application/json"
        ],
        "parameters": [
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "type": "array",
                    "permissions": {
                      "$ref": "#/definitions/Permission"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "permissions"
        ],
        "operationId": "updateUserCoursePermissions",
        "summary": "Set permissions by User and Intern",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "permissions[ViewHomeworks]",
            "in": "path",
            "description": "View homeworks",
            "type": "integer"
          },{
            "name": "permissions[EditHomeworks]",
            "in": "path",
            "description": "Edit homeworks",
            "type": "integer"
          },{
            "name": "permissions[ChangeHomeworkStatuses]",
            "in": "path",
            "description": "Change homework statuses",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "type": "array",
                    "permissions": {
                      "$ref": "#/definitions/Permission"
                    }
                  }
                }
              }
            }
          },"422": {
            "description": "wrong",
            "examples": {
              "":{
                "message": "Пользоваель должен быть сотрудником"
              }
            }
          }
        }
      }
    }

  },

  "definitions": {
    "User": {
      "type": "object",
      "required": [
        "login",
        "email"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "example": 1
        },
        "login": {
          "type": "string",
          "example": "someuser"
        },
        "email": {
          "type": "string",
          "example": "someuser@mail.com"
        },
        "first_name": {
          "type": "string",
          "example": "John"
        },
        "last_name": {
          "type": "string",
          "example": "Doe"
        },
        "role": {
          "type": "string",
          "example": "User",
          "enum": [
            "Banned",
            "User",
            "Employee",
            "Admin"
          ]
        },
        "course": {
          "$ref": "#/definitions/InternshipCourse"
        }
      }
    },
    "InternHomework": {
      "type": "object",
      "required": [
        "id",
        "name"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "example": 12
        },
        "user_id": {
          "type": "integer",
          "format": "int64",
          "example": 12
        },
        "homework": {
          "$ref": "#/definitions/Homework"
        },
        "github_uri": {
          "type": "string",
          "example": "Front-end 2"
        },
        "status": {
          "type": "string",
          "example": "Выполнено",
          "enum": [
            "Провалено",
            "Не началось",
            "В работе",
            "На проверке",
            "Выполнено"
          ]
        },
        "score": {
          "type": "integer",
          "format": "int64",
          "example": 3
        }
      }
    },
    "Homework": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "example": 12
        },
        "name": {
          "type": "string",
          "example": "Front-end 2"
        },
        "number": {
          "type": "number",
          "format": "int64",
          "example": 7
        },
        "url": {
          "type": "string",
          "example": "https://github.com/2UP/interns-portal-api/blob/master/README.md"
        },
        "course": {
          "$ref": "#/definitions/InternshipCourse"
        },
        "start_date": {
          "type": "string",
          "format": "date-time",
          "example": "2018-10-31 09:45:36"
        },
        "deadline": {
          "type": "string",
          "format": "date-time",
          "example": "2018-10-31 09:45:36"
        }
      }
    },
    "InternshipCourse": {
      "type": "object",
      "required": [
        "id",
        "name"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "example": 12
        },
        "name": {
          "type": "string",
          "example": "Front-end 2"
        }
      }
    },
    "Permission": {
      "type": "object",
      "required": [
        "id",
        "user_id"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "example": 12
        },
        "user_id": {
          "type": "integer",
          "format": "int64",
          "example": 3
        }
      }
    }
  }
}
