{
  "swagger": "2.0",
  "info": {
    "description": "",
    "version": "1.0.0",
    "title": "Interns portal API"
  },
  "host": "api.learn.2-up.ru",
  "basePath": "/api/v1",
  "tags": [
    {
      "name": "user",
      "description": "Operations about user",
    },
    {
      "name": "homework",
      "description": "Operations about homeworks",
    },
    {
      "name": "internHomework",
      "description": "Operations about intern homeworks",
    },
    {
      "name": "courses",
      "description": "Operations about user courses",
    },
    {
      "name": "permissions",
      "description": "Operations about user permissions [Admin only]",
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/user/{id}": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Get user by ID",
        "description": "description here.",
        "operationId": "getUserById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/definitions/User"
                    }
                  }
                }
              },
            }
          },
        }
      },
    },

    "/user/{id}/homeworks/avg_score": {
      "get": {
        "tags": [
          "internHomework"
        ],
        "summary": "Get user average homework score",
        "operationId": "getUserHomeworkAvgScore",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "average_score": {
                      "type": "number",
                      "format": "float",
                      "example": 2.5
                    }
                  }
                }
              },
            }
          },
        }
      },
    },
    "/user/{userId}/homework/{internHomeworkId}/score": {
      "patch": {
        "tags": [
          "internHomework"
        ],
        "operationId": "setUserHomeworkScore",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "internHomeworkId",
            "in": "path",
            "description": "InternHomework ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "score",
            "in": "query",
            "description": "score between 0 and 5",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "average_score": {
                      "$ref": "#/definitions/InternHomework"
                    }
                  }
                }
              },
            }
          },
        }
      },
    },

    "/courses/permissions/": {
      "get": {
        "tags": [
          "permissions"
        ],
        "operationId": "getAllCoursesPermissions",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "permissions": {
                      "type": "object",
                      "properties": {
                        "ViewHomeworks": {
                          "type": "string",
                          "example": "Просмотр домашних заданий",
                        },
                        "EditHomeworks": {
                          "type": "string",
                          "example": "Редактирование домашних заданий",
                        },
                        "ChangeHomeworkStatuses": {
                          "type": "string",
                          "example": "Смена статусов домашних заданий",
                        }
                      }
                    }
                  }
                }
              },
            }
          },
        }
      },
    },

    "/course/{courseId}/user/{userId}/permissions/": {
      "get": {
        "tags": [
          "permissions"
        ],
        "operationId": "getUserCoursePermissions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "courseId",
            "in": "path",
            "description": "Internship Course ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "permissions": {
                      "type": "object",
                      "properties": {
                        "ViewHomeworks": {
                          "type": "boolean",
                          "example": true,
                        },
                        "EditHomeworks": {
                          "type": "boolean",
                          "example": false,
                        },
                        "ChangeHomeworkStatuses": {
                          "type": "boolean",
                          "example": false,
                        }
                      }
                    }
                  }
                }
              },
            }
          },
        }
      },
      "patch": {
        "tags": [
          "permissions"
        ],
        "operationId": "updateUserCoursePermissions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "User ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "courseId",
            "in": "path",
            "description": "Internship Course ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "permissions": {
                      "type": "object",
                      "properties": {
                        "ViewHomeworks": {
                          "type": "boolean",
                          "example": true,
                        },
                        "EditHomeworks": {
                          "type": "boolean",
                          "example": false,
                        },
                        "ChangeHomeworkStatuses": {
                          "type": "boolean",
                          "example": false,
                        }
                      }
                    }
                  }
                }
              },
            }
          },
        }
      },
    },
  },
  
  "definitions": {
    "User": {
      "type": "object",
      "required": [
        "login",
        "email",
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "example": 1
        },
        "login": {
          "type": "string",
          "example": "someuser"
        },
        "email": {
          "type": "string",
          "example": "someuser@mail.com"
        },
        "first_name": {
          "type": "string",
          "example": "John"
        },
        "last_name": {
          "type": "string",
          "example": "Doe"
        },
        "role": {
          "type": "string",
          "example": "User",
          "enum": [
            "Banned",
            "User",
            "Employee",
            "Admin"
          ]
        },
        "course": {
          "$ref": "#/definitions/InternshipCourse"
        },
      }
    },
    "InternHomework": {
      "type": "object",
      "required": [
        "id",
        "name",
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "example": 12
        },
        "user_id": {
          "type": "integer",
          "format": "int64",
          "example": 12
        },
        "homework": {
          "$ref": "#/definitions/Homework"
        },
        "github_uri": {
          "type": "string",
          "example": "Front-end 2"
        },
        "status": {
          "type": "string",
          "example": "Выполнено",
          "enum": [
            "Провалено",
            "Не началось",
            "В работе",
            "На проверке",
            "Выполнено"
          ]
        },
        "score": {
          "type": "integer",
          "format": "int64",
          "example": 3
        },
      },
    },
    "Homework": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "example": 12
        },
        "name": {
          "type": "string",
          "example": "Front-end 2"
        },
        "number": {
          "type": "number",
          "format": "int64",
          "example": 7
        },
        "url": {
          "type": "string",
          "example": "https://github.com/2UP/interns-portal-api/blob/master/README.md"
        },
        "course": {
          "$ref": "#/definitions/InternshipCourse"
        },
        "start_date": {
          "type": "string",
          "format": "date-time",
          "example": "2018-10-31 09:45:36"
        },
        "deadline": {
          "type": "string",
          "format": "date-time",
          "example": "2018-10-31 09:45:36"
        },
      },
    },
    "InternshipCourse": {
      "type": "object",
      "required": [
        "id",
        "name",
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "example": 12
        },
        "name": {
          "type": "string",
          "example": "Front-end 2"
        },
      },
    }
  }
}
