{
  "swagger": "2.0",
  "info": {
    "description": "",
    "version": "1.0.0",
    "title": "Interns portal API"
  },
  "host": "api.learn.2-up.ru",
  "basePath": "/v1",
  "tags": [
    {
      "name": "user",
      "description": "Operations about user",
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/user/{id}": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "Get user by ID",
        "description": "description here.",
        "operationId": "getUserById",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "User ID",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean"
                },
                "data": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/definitions/User"
                    }
                  }
                }
              },
            }
          },
        }
      },
    },
  },
  "definitions": {
    "User": {
      "type": "object",
      "required": [
        "login",
        "email",
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "example": 1
        },
        "login": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "first_name": {
          "type": "string"
        },
        "last_name": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "api_token": {
          "type": "string"
        },
        "role": {
          "type": "string",
          "description": "pet status in the store",
          "enum": [
            "Banned",
            "User",
            "Employee",
            "Admin"
          ]
        },
        "course": {
          "$ref": "#/definitions/InternshipCourse"
        },
      }
    },
    "InternshipCourse": {
      "type": "object",
      "required": [
        "id",
        "name",
      ],
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        },
      },
    },
  }
}
