{
  "swagger" : "2.0",
  "info" : {
    "description" : "",
    "version" : "1.0.0",
    "title" : "Interns portal API"
  },
  "host" : "api.learn.2-up.ru",
  "basePath" : "/api/v1",
  "tags" : [ {
    "name" : "auth",
    "description" : "Operations about authorize"
  }, {
    "name" : "user",
    "description" : "Operations about user"
  }, {
    "name" : "homework",
    "description" : "Operations about homeworks"
  }, {
    "name" : "internHomework",
    "description" : "Operations about intern homeworks"
  }, {
    "name" : "courses",
    "description" : "Operations about user courses"
  }, {
    "name" : "permissions",
    "description" : "Operations about user permissions [Admin only]"
  }, {
    "name" : "me",
    "description" : "Operations about user profile"
  }, {
    "name" : "interns",
    "description" : "Operations with interns"
  }, {
    "name" : "notifications",
    "description" : "Operations with notifications"
  } ],
  "schemes" : [ "https", "http" ],
  "paths" : {
    "/login" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Login user",
        "description" : "description here.",
        "operationId" : "login",
        "produces" : [ "application/json" ],
        "parameters" : [
          {"name": "login",
            "in": "query",
            "required": true,
            "type":"string"},
          {"name": "password",
            "in": "query",
            "required": true,
            "type":"string"}
        ],
        "responses" : {
          "200" : {
            "description" : "success",
            "examples" : {
              "" : {
                "success" : true,
                "data" : {
                  "api_token" : "123"
                }
              }
            }
          },
          "401" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Неверный логин / пароль"
              }
            }
          },
          "404" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Пользователь не существует"
              }
            }
          }
        }
      }
    },
    "/regiser" : {
      "post" : {
        "tags" : [ "auth" ],
        "summary" : "Register user",
        "description" : "description here.",
        "operationId" : "register",
        "produces" : [ "application/json" ],
        "parameters" : [
          {
            "name":"login",
            "required":true,
            "in":"query",
            "type" : "string"
          },
          {
            "name":"email",
            "required":true,
            "in":"query",
            "type" : "string"
          },
          {
            "name":"first_name",
            "required":true,
            "in":"query",
            "type" : "string"
          },
          {
            "name":"last_name",
            "required":true,
            "in":"query",
            "type" : "string"
          },
          {
            "name":"password",
            "required":true,
            "in":"query",
            "type" : "string"
          },
          {
            "name": "register_key",
            "required":true,
            "in":"query",
            "type" : "string"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "success",
            "examples" : {
              "" : {
                "success" : true,
                "data" : {
                  "api_token" : "123"
                }
              }
            }
          },
          "403" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Неверный ключ регистрации"
              },
              " " : {
                "message" : "Ключ уже использован"
              }
            }
          }
        }
      }
    },
    "/check_api_token" : {
      "get" : {
        "tags" : [ "auth" ],
        "summary" : "Check token of user",
        "description" : "description here.",
        "operationId" : "checkApiToken",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name": "api_token",
          "in": "query",
          "required": true,
          "type": "string"}],
        "responses" : {
          "200" : {
            "description" : "success",
            "examples" : {
              "" : {
                "success" : true
              }
            }
          },
          "401" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "success" : false
              }
            }
          }
        }
      }
    },
    "/user/{id}" : {
      "get" : {
        "tags" : [ "user" ],
        "summary" : "Get user by ID",
        "description" : "description here.",
        "operationId" : "getUserById",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/User"
                }
              }
            }
          }
        }
      }
    },
    "/user/{id}/homeworks/avg_score" : {
      "get" : {
        "tags" : [ "homework" ],
        "summary" : "Get user average homework score",
        "operationId" : "getUserHomeworkAvgScore",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/Score"
                }
              }
            }
          }
        }
      }
    },
    "/user/{user}/homeworks" : {
      "get" : {
        "tags" : [ "homework" ],
        "summary" : "Get user homeworks",
        "operationId" : "getUserHomeworks",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "user",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/InternHomework"
                }
              }
            }
          },
          "403" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "homeworks.homework.no_view_access"
              }
            }
          },
          "404" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Пользователь не найден"
              }
            }
          }
        }
      }
    },
    "/user/{user}/homework/{intern_homework}" : {
      "get" : {
        "tags" : [ "internHomework" ],
        "summary" : "Get user homework",
        "operationId" : "getUserHomework",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "user",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "intern_homework",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Status of the Intern Homework",
          "required" : true,
          "type" : "string",
          "maximum" : 255,
          "minimum" : 4
        }, {
          "name" : "github_uri",
          "in" : "query",
          "description" : "Github uri of the Intern Homework",
          "required" : true,
          "type" : "string",
          "maximum" : 255,
          "minimum" : 4
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/InternHomework"
                }
              }
            }
          },
          "400" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Домашняя работа не принадлежит пользователю"
              }
            }
          },
          "403" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Нет доступа"
              },
              " " : {
                "message" : "homeworks.homework.no_view_access"
              }
            }
          },
          "404" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Пользователь не найден"
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "internHomework" ],
        "summary" : "Edit user homework",
        "operationId" : "editUserHomework",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "user",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "intern_homework",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        }, {
          "name" : "github_uri",
          "in" : "query",
          "description" : "Rep uri",
          "type" : "string",
          "maximum" : 255,
          "minimum" : 4
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/InternHomework"
                }
              }
            }
          },
          "400" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Домашняя работа не принадлежит пользователю"
              },
              " " : {
                "message" : "Неверный статус"
              }
            }
          }
        }
      }
    },
    "/user/{user}/homework/{intern_homework}/score" : {
      "patch" : {
        "tags" : [ "internHomework" ],
        "summary" : "Edit user homework",
        "operationId" : "setHomeworkScore",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "user",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "intern_homework",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        }, {
          "name" : "score",
          "in" : "query",
          "description" : "Homework score",
          "type" : "number",
          "maximum" : 10,
          "minimum" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/InternHomework"
                }
              }
            }
          },
          "403" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "homeworks.homework.invalid_status"
              },
              " " : {
                "message" : "homeworks.homework.no_change_status_access"
              }
            }
          }
        }
      }
    },
    "/interns" : {
      "get" : {
        "tags" : [ "interns" ],
        "summary" : "Get interns",
        "description" : "description here.",
        "operationId" : "getInterns",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type":"string"
        }, {
          "name" : "course",
          "in" : "query",
          "description" : "Name of course",
          "type":"string"
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/User"
                }
              }
            }
          },
          "404" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Курс 123 не найден"
              }
            }
          }
        }
      }
    },
    "/me/profile_info" : {
      "get" : {
        "tags" : [ "me" ],
        "summary" : "Get profile info",
        "description" : "description here.",
        "operationId" : "getMyProfileInfo",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/User"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "me" ],
        "summary" : "Set profile info",
        "description" : "description here.",
        "operationId" : "editMyProfileInfo",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        }, {
          "in" : "query",
          "name" : "login",
          "description" : "User login",
          "type":"string"
        }, {
          "in" : "query",
          "name" : "email",
          "description" : "User email",
          "type":"string"
        }, {
          "in" : "query",
          "name" : "first_name",
          "description" : "User first_name",
          "type":"string"
        }, {
          "in" : "query",
          "name" : "last_name",
          "description" : "User last_name",
          "type":"string"
        }, {
          "in" : "query",
          "name" : "password",
          "description" : "User password",
          "type":"string"
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/User"
                }
              }
            }
          }
        }
      }
    },
    "/me/homeworks" : {
      "get" : {
        "tags" : [ "me" ],
        "summary" : "Get my homeworks",
        "description" : "description here.",
        "operationId" : "getMyHomeworks",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        }, {
          "name" : "active",
          "in" : "query",
          "description" : "Status of the homework",
          "type" : "boolean"
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/Homework"
                }
              }
            }
          }
        }
      }
    },
    "/me/homework/{intern_homework}" : {
      "get" : {
        "tags" : [ "me" ],
        "summary" : "Get my homework",
        "description" : "description here.",
        "operationId" : "get",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "intern_homework",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/Homework"
                }
              }
            }
          },
          "400" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Домашняя работа не найдена"
              }
            }
          },
          "403" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Нет доступа"
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "me" ],
        "summary" : "Set my homework",
        "description" : "description here.",
        "operationId" : "edit",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "intern_homework",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        },{
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        }, {
          "name" : "github_uri",
          "in" : "query",
          "description" : "My rep uri",
          "type" : "string",
          "maximum" : 255,
          "minimum" : 4
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/Homework"
                }
              }
            }
          },
          "403" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Нет доступа"
              },
              " " : {
                "message" : "Вы не можете редактировать домашнюю работу с текущим статусом: Статус"
              }
            }
          }
        }
      }
    },
    "/notifications/" : {
      "get" : {
        "tags" : [ "notifications" ],
        "summary" : "Get Latest",
        "operationId" : "getLatest",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/Notification"
                }
              }
            }
          }
        }
      }
    },
    "/notifications/seen_all" : {
      "patch" : {
        "tags" : [ "notifications" ],
        "summary" : "Set all ToSeen",
        "operationId" : "setAllToSeen",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "examples" : {
              "" : {
                "success" : true
              }
            }
          }
        }
      }
    },
    "/courses/all_permissions" : {
      "get" : {
        "tags" : [ "courses" ],
        "summary" : "Get all ermissions",
        "operationId" : "allPermissionsList",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/Permission"
                }
              }
            }
          }
        }
      }
    },
    "/homeworks" : {
      "get" : {
        "tags" : [ "homework" ],
        "summary" : "Get all homeworks",
        "operationId" : "getAll",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        }, {
          "name" : "course",
          "in" : "query",
          "description" : "Name of the course",
          "type" : "string",
          "maximum" : 200,
          "minimum" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/InternHomework"
                }
              }
            }
          }
        }
      }
    },
    "/homework" : {
      "post" : {
        "tags" : [ "homework" ],
        "summary" : "Create new homework",
        "operationId" : "new",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Name of homework",
          "required" : true,
          "type" : "string",
          "maximum" : 255,
          "minimum" : 4,
          "format" : "string"
        }, {
          "name" : "number",
          "in" : "query",
          "description" : "Number of the homework",
          "required" : true,
          "type" : "integer",
          "maximum" : 32000,
          "minimum" : 1
        }, {
          "name" : "course",
          "in" : "query",
          "description" : "Name of the course",
          "required" : true,
          "type" : "string",
          "maximum" : 255,
          "minimum" : 4
        }, {
          "name" : "url",
          "in" : "query",
          "description" : "Url of the homework",
          "required" : true,
          "type" : "string",
          "maximum" : 255,
          "minimum" : 4
        }, {
          "name" : "deadline",
          "in" : "query",
          "description" : "Date of deadline",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "start_date",
          "in" : "query",
          "description" : "Date of start",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/Homework"
                }
              }
            }
          },
          "403" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Пользователь не найден"
              }
            }
          },
          "404" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Поток не найден"
              },
              " " : {
                "message" : "Пользователь не найден"
              }
            }
          },
          "422" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Неверный формат дедлайна (datetime)"
              }
            }
          }
        }
      }
    },
    "/homework/{homework}" : {
      "get" : {
        "tags" : [ "homework" ],
        "summary" : "Get homework ...",
        "operationId" : "gettt",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "homework",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/Homework"
                }
              }
            }
          },
          "403" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "homeworks.homework.no_view_access"
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "homework" ],
        "summary" : "Set homework ...",
        "operationId" : "editt",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "homework",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "Name of homework",
          "required" : true,
          "type" : "string",
          "maximum" : 255,
          "minimum" : 4,
          "format" : "string"
        }, {
          "name" : "number",
          "in" : "query",
          "description" : "Number of the homework",
          "required" : true,
          "type" : "integer",
          "maximum" : 32000,
          "minimum" : 1
        }, {
          "name" : "course",
          "in" : "query",
          "description" : "Name of the course",
          "required" : true,
          "type" : "string",
          "maximum" : 255,
          "minimum" : 4
        }, {
          "name" : "url",
          "in" : "query",
          "description" : "Url of the homework",
          "required" : true,
          "type" : "string",
          "maximum" : 255,
          "minimum" : 4
        }, {
          "name" : "deadline",
          "in" : "query",
          "description" : "Date of deadline",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "start_date",
          "in" : "query",
          "description" : "Date of start",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/Homework"
                }
              }
            }
          },
          "403" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "homeworks.homework.no_edit_access"
              }
            }
          },
          "422" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Неверный формат дедлайна (datetime)"
              },
              " " : {
                "message" : "Неверный формат даты старта (start_date)"
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "homework" ],
        "summary" : "Delete homework ...",
        "operationId" : "delete",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        }, {
          "name" : "homework",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                }
              }
            }
          },
          "403" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "homeworks.homework.no_edit_access"
              }
            }
          }
        }
      }
    },
    "/homework/{homework}/course" : {
      "post" : {
        "tags" : [ "homework" ],
        "summary" : "Add new course for homework",
        "operationId" : "addCourse",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "homework",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        }, {
          "name" : "course_id",
          "in" : "query",
          "description" : "Id of course",
          "required" : true,
          "type" : "integer",
          "minimum" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/Homework"
                }
              }
            }
          },
          "403" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "homeworks.homework.no_edit_access"
              }
            }
          },
          "404" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Домашняя работа не найдена"
              },
              " " : {
                "message" : "Поток не найден"
              }
            }
          }
        }
      }
    },
    "/course/{internship_course}" : {
      "get" : {
        "tags" : [ "courses" ],
        "summary" : "Get course from intern",
        "operationId" : "gett",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "internship_course",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/Course"
                }
              }
            }
          },
          "403" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Нет доступа"
              }
            }
          },
          "404" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Домашняя работа не найдена"
              }
            }
          }
        }
      }
    },
    "/course/{internship_course}/user/{user}/permissions" : {
      "get" : {
        "tags" : [ "permissions" ],
        "summary" : "Get permissions of User and Intern",
        "operationId" : "getUserCoursePermissions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "user",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "internship_course",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        }, {
          "name" : "api_token",
          "in" : "query",
          "description" : "User api token",
          "required" : true,
          "type" : "string",
          "maximum" : 50,
          "minimum" : 4
        } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/Permission"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "permissions" ],
        "summary" : "Set permissions by User and Intern",
        "operationId" : "updateUserCoursePermissions",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "internship_course",
          "in" : "path",
          "required" : true,
          "type" : "integer"
        },
          {
            "name" : "user",
            "in" : "path",
            "required" : true,
            "type" : "integer"
          }, {
            "name" : "api_token",
            "in" : "query",
            "description" : "User api token",
            "required" : true,
            "type" : "string",
            "maximum" : 50,
            "minimum" : 4
          },
          {
            "name" : "permissions[ViewHomeworks]",
            "in" : "query",
            "description" : "View homeworks",
            "type" : "integer"
          }, {
            "name" : "permissions[EditHomeworks]",
            "in" : "query",
            "description" : "Edit homeworks",
            "type" : "integer"
          }, {
            "name" : "permissions[ChangeHomeworkStatuses]",
            "in" : "query",
            "description" : "Change homework statuses",
            "type" : "integer"
          } ],
        "responses" : {
          "200" : {
            "description" : "success",
            "schema" : {
              "type" : "object",
              "properties" : {
                "success" : {
                  "type" : "boolean"
                },
                "data" : {
                  "$ref" : "#/definitions/Permission"
                }
              }
            }
          },
          "422" : {
            "description" : "wrong",
            "examples" : {
              "" : {
                "message" : "Пользоваель должен быть сотрудником"
              }
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "User" : {
      "type" : "object",
      "required" : [ "email", "login" ],
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "example" : 1
        },
        "login" : {
          "type" : "string",
          "example" : "someuser"
        },
        "email" : {
          "type" : "string",
          "example" : "someuser@mail.com"
        },
        "first_name" : {
          "type" : "string",
          "example" : "John"
        },
        "last_name" : {
          "type" : "string",
          "example" : "Doe"
        },
        "role" : {
          "type" : "string",
          "example" : "User",
          "enum" : [ "Banned", "User", "Employee", "Admin" ]
        },
        "course" : {
          "$ref" : "#/definitions/InternshipCourse"
        }
      }
    },
    "InternHomework" : {
      "type" : "object",
      "required" : [ "id" ],
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "example" : 12
        },
        "user_id" : {
          "type" : "integer",
          "format" : "int64",
          "example" : 12
        },
        "homework" : {
          "$ref" : "#/definitions/Homework"
        },
        "github_uri" : {
          "type" : "string",
          "example" : "Front-end 2"
        },
        "status" : {
          "type" : "string",
          "example" : "Выполнено",
          "enum" : [ "Провалено", "Не началось", "В работе", "На проверке", "Выполнено" ]
        },
        "score" : {
          "type" : "integer",
          "format" : "int64",
          "example" : 3
        }
      }
    },
    "Homework" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "example" : 12
        },
        "name" : {
          "type" : "string",
          "example" : "Front-end 2"
        },
        "number" : {
          "type" : "number",
          "format" : "int64",
          "example" : 7.0
        },
        "url" : {
          "type" : "string",
          "example" : "https://github.com/2UP/interns-portal-api/blob/master/README.md"
        },
        "course" : {
          "$ref" : "#/definitions/InternshipCourse"
        },
        "start_date" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2018-10-31 09:45:36"
        },
        "deadline" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2018-10-31 09:45:36"
        }
      }
    },
    "InternshipCourse" : {
      "type" : "object",
      "required" : [ "id", "name" ],
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "example" : 12
        },
        "name" : {
          "type" : "string",
          "example" : "Front-end 2"
        }
      }
    },
    "Permission" : {
      "type" : "object",
      "properties" : {
        "ViewHomeworks" : {
          "type" : "boolean",
          "example" : true
        },
        "EditHomeworks" : {
          "type" : "boolean",
          "example" : true
        },
        "ChangeHomeworkStatuses" : {
          "type" : "boolean",
          "example" : true
        }
      }
    },
    "Course" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "example" : 1
        },
        "course" : {
          "type" : "string",
          "example" : "BackEnd1"
        },
        "leads" : {
          "$ref" : "#/definitions/User"
        }
      }
    },
    "Notification" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int64",
          "example" : 1
        },
        "user_id" : {
          "type" : "integer",
          "format" : "int64",
          "example" : 1
        },
        "title" : {
          "type" : "string",
          "example" : "Смена статуса домашней работы № 2 - Bootstrap 4 стажера Alexandro Macdonald"
        },
        "seen" : {
          "type" : "boolean",
          "example" : true
        },
        "text" : {
          "type" : "string",
          "example" : "Смена статуса домашней работы № 2 - Bootstrap 4 стажера Alexandro Macdonald"
        },
        "url" : {
          "type" : "string",
          "example" : "https://github.com/2UP/interns-portal-api/blob/master/README.md"
        },
        "created_at" : {
          "type" : "string",
          "format" : "date-time",
          "example" : "2018-10-31 09:45:36"
        }
      }
    },
    "Score" : {
      "properties" : {
        "average_score" : {
          "type" : "number",
          "format" : "float",
          "example" : 2.5
        }
      }
    }
  }
}